include includes
+page
  h2!= 'Last ' + recent_games.length + ' Recorded Games'
  +show_games(recent_games)

  h2 Current Challenges
  +show_challenges(challenges_current, false)
  h2 Previous Challenges
  +show_challenges(challenges_history, true)
